html body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

.page1{
  width: 100%;
  height: 705px;
  background-image: url("/img/backgroundPage1Header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header{
  background-image: url("/img/headerBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
}

#logoHeader{
  width: 400px;
  height: 100px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 20px;
}

#ongletHeader{
  display: flex;
  width: 900px;
  height: 20px;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 65px;
  color: white;
}

#ongletAccueil{
  color: black;
}

#ongletQuiSommesNous{
  color: black;
}

#ongletNosServices{
  color: black;
}

#ongletTelemarketing{
  color: black;
}

#boutonHeader{
  box-sizing: border-box;
  width: 179px;
  height: 70px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-top: 35px;
  padding-top: 10px;
  margin-right: 15px;
}

#boutonHeader:hover{
  background-color: #e0e0e0;
}

#boutonHeader a{
  color: black;
}

#titrePage1{
  font-size: 35px;
  width: 300px;
  height: 50px;
  margin: 20px auto;
  color: #FFFFFF;
  text-align: center;
}

#paragraphePage1{
  font-size: 20px;
  width: 70%;
  height: 50px;
  margin: 50px auto;
  color: #FFFFFF;
  text-align: center;
}

#boutonPage1{
  box-sizing: border-box;
  width: 200px;
  height: 80px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 100px auto;
  padding-top: 17px;
}

#boutonPage1:hover{
  background-color: #e0e0e0;
}

#boutonPage1 a{
  color: black;
}

#elementBackground{
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 245px;
}

.page2{
  width: 100%;
  background-color: #ffffff;
}

#bandeauPage2{
  width: 80%;
  height: 500px;
  background-color: #2cabc0;
  margin: 100px auto;
  border-radius: 50px;
  box-shadow: -33px -28px 0px 2px rgba(45, 199, 195, 0.81);
}

#bandeauPage2 h1{
  margin-left: 100px;
  padding-top: 80px;
  color: white;
  font-size: 30px;
}

#bandeauPage2 p{
  width: 90%;
  padding-top: 20px;
  margin-left: 100px;
  color: white;
  font-size: 23px;
}

#boutonBandeauPage2{
  box-sizing: border-box;
  width: 185px;
  height: 80px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  padding-top: 13px;
  float: right;
  margin-right: 60px;
}

#boutonBandeauPage2:hover{
  background-color: #e0e0e0;
}

#boutonBandeauPage2 a{
  color: black;
}



#texteNosServices{
  width: 40%;
  height: 200px;
  margin-left: 200px;
}

#containerVignette{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  justify-content: space-between;
}

/*Vignette 1*/


#vignette1{
  width: 400px;
  height: 500px;
  border-radius: 50px;
  background-color: #0e95e8;
  display: flex;
  flex-direction: column;
  color: white;
  position: unset;
  z-index: 2;
  box-shadow: -33px -28px 0px 2px rgba(1, 66, 131, 0.81);

}

#vignette1 h1{
  padding-top: 25px;
  margin-left: 25px;
}



/*Container picto 1*/

#container1Picto{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

#container1Picto:hover{
  background-color: #24a3fa;
}

#picto1{
  width: 85px;
  padding-left: 20px;
}

#texteContainerPicto1{
  font-size: 25px;
  padding-left: 30px;
}

/*Container picto 2*/

#container2Picto{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

#container2Picto:hover{
  background-color: #24a3fa;
}

#picto2{
  width: 85px;
  padding-left: 20px;
}

#texteContainerPicto2{
  font-size: 25px;
  margin-top: 25px;
  padding-left: 30px;
}

/*Container picto 3*/

#container3Picto{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

#container3Picto:hover{
  background-color: #24a3fa;
}

#picto3{
  width: 85px;
  padding-left: 20px;
}

#texteContainerPicto3{
  font-size: 25px;
  margin-top: 30px;
  padding-left: 30px;
}

/*Bouton vignette1*/

#boutonVignette1{
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  padding-top: 10px;
  float: right;
  margin-left: 200px;
  margin-top: 20px;
}

#boutonVignette1:hover{
  background-color: #e0e0e0;
}

#boutonVignette1 a{
  color: black;
}

/*vignette 2*/

#vignette2{
  width: 400px;
  height: 500px;
  border-radius: 50px;
  background-color: #2cabc0;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 100px;
  box-shadow: -33px -28px 0px 2px rgba(27, 120, 148, 0.81);
}

#vignette2 h1{
  padding-top: 25px;
  margin-left: 25px;
}

#texteVignette2{
  margin-left: 25px;
  font-size: 20px;
  width: 80%;
}

#boutonVignette2{
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  padding-top: 10px;
  float: right;
  margin-left: 200px;
  margin-top: 20px;
}

#boutonVignette2:hover{
  background-color: #e0e0e0;
}

#boutonVignette2 a{
  color: black;
}

/*vignette 3*/

#vignette3{
  width: 400px;
  height: 500px;
  border-radius: 50px;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 40px;
  box-shadow: -33px -28px 0px 2px rgba(38, 37, 37, 0.81);
}

#vignette3 h1{
  padding-top: 25px;
  margin-left: 25px;
}

#texteVignette3{
  margin-left: 25px;
  font-size: 20px;
  width: 80%;
}

#boutonVignette3{
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  padding-top: 10px;
  float: right;
  margin-left: 200px;
  margin-top: 120px;
}

#boutonVignette3 a{
  color: black;
}

#boutonVignette3:hover{
  background-color: #e0e0e0;
}

#containerInfoSocallmedia{
  width: 80%;
  display: flex;
  margin-left: 250px;
  margin-top: 100px;
  justify-content: space-between;
}

#containerTexteBouton{
  width: 40%;
}

#boutonInfoSocallmedia{
  box-sizing: border-box;
  width: 180px;
  height: 75px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  padding-top: 10px;
  float: left;
  margin-top: 50px;
}

#boutonInfoSocallmedia a{
  color: black;
}


#boutonInfoSocallmedia:hover{
  background-color: #e0e0e0;
}

.footer{
  width: 100%;
  height: 300px;
  margin-top: 100px;
  background-image: url("/img/footerBackground.svg");
  display: flex;
  justify-content: space-between;
}

#logoFooter{
  width: 370px;
  height: 80px;
  margin-top: 120px;
  margin-left: 50px;
}
#containerReseau{
  width: 150px;
  margin-top: 70px;
  color: #FFFFFF;
}

#containerTelLocalisation{
  margin-top: 120px;
  width: 400px;
}

#telephoneFooter{
  color: #FFFFFF;
  font-size: 18px;
}

#localisationFooter{
  margin-top: 30px;
  color: #FFFFFF;
  font-size: 18px;
}

#linkedinFooter{
  margin-left: 30px;
}

#mentionLegal{
  width: 100%;
  text-align: center;
  background: rgb(44,172,193);
  background: linear-gradient(90deg, rgba(44,172,193,1) 0%, rgba(14,150,233,1) 100%);
}

#mentionLegal a{
  color: black;
}


@media (max-width: 1100px) {
  #ongletHeader {
    display: none;
  }
}

@media (max-width: 1280px) {
  #bandeauPage2{
    width: 80%;
    height: 300px;
    margin: 100px auto;
    margin-bottom: 50px;
  }

  #bandeauPage2 h1{
    margin-left: 80px;
    padding-top: 50px;
    color: white;
    font-size: 20px;
  }

  #bandeauPage2 p{
    width: 80%;
    padding-top: 10px;
    margin-left: 80px;
    color: white;
    font-size: 14px;
  }

  #boutonBandeauPage2{
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 7px;
    float: right;
    margin-right: 60px;
  }

  #texteNosServices{
    width: 40%;
    height: 200px;
    margin-left: 140px;
    margin-bottom: 50px;
  }

  #containerInfoSocallmedia{
    width: 80%;
    display: flex;
    margin-left: 140px;
    margin-top: 100px;
    justify-content: space-between;
  }

  #containerTexteBouton{
    width: 50%;
    margin-right: 50px;
  }

  #boutonInfoSocallmedia{
    box-sizing: border-box;
    width: 180px;
    height: 75px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 10px;
    float: left;
    margin-top: 50px;
  }
}

@media (max-width: 956px) {
  #bandeauPage2{
    width: 80%;
    height: 350px;
    background-color: #2cabc0;
    margin: 100px auto;
    border-radius: 50px;
  }

  #texteNosServices{
    width: 100%;
    height: 200px;
    margin-left: 90px;
    margin-bottom: 80px;
    font-size: 15px;
  }

  .footer{
    width: 100%;
    height: 530px;
    margin-top: 100px;
    background-image: url("/img/footerBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #logoFooter{
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
  }

  #containerReseau{
    width: 150px;
    margin: 0 auto;
    color: #FFFFFF;
  }

  #containerTelLocalisation{
    margin: 20px auto;
    width: 400px;
    text-align: center;
  }

  #telephoneFooter{
    color: #FFFFFF;
    font-size: 18px;
  }

  #localisationFooter{
    margin-top: 30px;
    color: #FFFFFF;
    font-size: 18px;
  }

  #linkedinFooter{
    margin-left: 30px;
  }

  #mentionLegal{
    width: 100%;
    text-align: center;
    background: rgb(44,172,193);
    background: linear-gradient(90deg, rgba(44,172,193,1) 0%, rgba(14,150,233,1) 100%);
  }

  .header{
    background-image: url("/img/headerBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between;
  }
}


@media (max-width: 648px) {
  #logoFooter{
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
  }

  #boutonHeader{
    display: none;
  }

  #bandeauPage2{
    width: 80%;
    height: 420px;
    background-color: #2cabc0;
    margin: 100px auto;
    border-radius: 50px;
  }

  #bandeauPage2 h1{
    margin-left: 50px;
    padding-top: 50px;
    color: white;
  }

  #bandeauPage2 p{
    padding-top: 20px;
    margin-left: 50px;
    color: white;
  }
}

@media (max-width: 580px) {
  #logoHeader{
    width: 80%;
    margin: 18px auto;
  }

  #texteNosServices{
    width: 50%;
    height: 200px;
    margin: 120px auto;
  }

  #boutonPage1{
    box-sizing: border-box;
    width: 179px;
    height: 70px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: 150px auto;
    padding-top: 10px;
  }

  #boutonBandeauPage2{
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 7px;
    float: right;
    margin-right: 40px;
  }
}

@media (max-width: 470px) {
  #logoHeader{
    width: 80%;
    margin: 28px auto;
  }

  #titrePage1{
    font-size: 25px;
    font-weight: bold;
    width: 70%;
    height: 50px;
    margin: 20px auto;
    color: #FFFFFF;
    text-align: center;
  }

  #paragraphePage1{
    font-size: 20px;
    width: 70%;
    height: 50px;
    margin: 80px auto;
    color: #FFFFFF;
    text-align: center;
  }

  #boutonPage1{
    box-sizing: border-box;
    width: 179px;
    height: 70px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: 200px auto;
    padding-top: 10px;
  }

  #bandeauPage2{
    width: 80%;
    height: 550px;
    background-color: #2cabc0;
    margin: 50px auto;
    border-radius: 50px;
  }

  #bandeauPage2 h1{
    margin-left: 30px;
    padding-top: 40px;
    color: white;
  }

  #bandeauPage2 p{
    width: 80%;
    padding-top: 20px;
    margin-left: 30px;
    color: white;
  }

  #boutonBandeauPage2{
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 6px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
  }

  #texteNosServices{
    width: 90%;
    height: 200px;
    margin-left: 50px;
  }

  #containerVignette{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /*Vignette 1*/


  #vignette1{
    width: 98%;
    height: 500px;
    border-radius: 50px;
    background-color: #0e95e8;
    display: flex;
    flex-direction: column;
    color: white;
    position: unset;
    z-index: 2;
    margin: 0 auto;
  }

  #vignette1 h1{
    padding-top: 25px;
    margin-left: 25px;
  }

  /*Container picto 1*/

  #container1Picto{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  #container1Picto:hover{
    background-color: #24a3fa;
  }

  #picto1{
    width: 85px;
    padding-left: 20px;
  }

  #texteContainerPicto1{
    font-size: 25px;
    padding-left: 30px;
  }

  /*Container picto 2*/

  #container2Picto{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  #container2Picto:hover{
    background-color: #24a3fa;
  }

  #picto2{
    width: 85px;
    padding-left: 20px;
  }

  #texteContainerPicto2{
    font-size: 25px;
    margin-top: 25px;
    padding-left: 30px;
  }

  /*Container picto 3*/

  #container3Picto{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  #container3Picto:hover{
    background-color: #24a3fa;
  }

  #picto3{
    width: 85px;
    padding-left: 20px;
  }

  #texteContainerPicto3{
    font-size: 25px;
    margin-top: 30px;
    padding-left: 30px;
  }

  /*Bouton vignette1*/

  #boutonVignette1{
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 10px;
    float: right;
    margin-left: 200px;
    margin-top: 20px;
  }

  /*vignette 2*/

  #vignette2{
    width: 98%;
    height: 500px;
    border-radius: 50px;
    background-color: #2cabc0;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 50px auto;
  }

  #vignette2 h1{
    padding-top: 25px;
    margin-left: 25px;
  }

  #texteVignette2{
    margin-left: 25px;
    font-size: 15px;
    width: 80%;
  }

  #boutonVignette2{
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 10px;
    float: right;
    margin-left: 200px;
    margin-top: 120px;
  }

  /*vignette 3*/

  #vignette3{
    width: 98%;
    height: 500px;
    border-radius: 50px;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 auto;
  }

  #vignette3 h1{
    padding-top: 25px;
    margin-left: 25px;
  }

  #texteVignette3{
    margin-left: 25px;
    font-size: 20px;
    width: 80%;
  }

  #boutonVignette3{
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 10px;
    float: right;
    margin-left: 200px;
    margin-top: 120px;
  }

  #containerInfoSocallmedia{
    width: 80%;
    display: flex;
    margin: 80px auto;
    justify-content: space-between;
  }

  #containerInfoSocallmedia img{
    display: none;
  }

  #containerTexteBouton{
    width: 100%;
    margin-right: 0;
  }

  #boutonVignette1{
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 10px;
    float: none;
    margin-left: 20px;
    margin-top: 20px;
  }

  #boutonVignette2{
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 10px;
    float: none;
    margin-left: 20px;
    margin-top: 20px;
  }

  #boutonVignette3{
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 10px;
    float: none;
    margin-left: 20px;
    margin-top: 50px;
  }

  #vignette1{
    width: 98%;
    height: 550px;
    border-radius: 50px;
    background-color: #0e95e8;
    display: flex;
    flex-direction: column;
    color: white;
    position: unset;
    z-index: 2;
    margin: 0 auto;
  }
}

@media (max-width: 378px) {

  #logoHeader{
    width: 70%;
    height: 50px;
    margin: 18px auto;
  }

  #bandeauPage2 h1{
    margin-left: 20px;
  }

  #bandeauPage2 p{
    margin-left: 20px;
    width: 250px;
  }

  .header{
    background-image: url("/img/headerBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
  }

  #titrePage1{
    font-size: 25px;
    font-weight: bold;
    width: 70%;
    height: 50px;
    margin: 20px auto;
    color: #FFFFFF;
    text-align: center;
  }

  #bandeauPage2{
    width: 80%;
    height: 585px;
    background-color: #2cabc0;
    margin: 50px auto;
    border-radius: 50px;
  }

  #bandeauPage2 h1{
    margin-left: 30px;
    padding-top: 40px;
    color: white;
  }

  #bandeauPage2 p{
    width: 80%;
    padding-top: 20px;
    margin-left: 30px;
    color: white;
  }
}

/*scrollbar*/

* {
  scrollbar-width: thin;
  scrollbar-color: #0f96e6 #fdfdfe;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #0f96e7;
  border-radius: 20px;
  border: 3px solid #ffffff;
}

/*-----------------------------------*/