html body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

#imageHeader{
    width: 100%;
    height: 520px;
    background-image: url("/img/backgroundQuiSommesNous.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    background-image: url("/img/headerBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
}

#logoHeader{
    width: 400px;
    height: 80px;
    margin: 35px;
}

#ongletHeader{
    display: flex;
    width: 900px;
    height: 20px;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 65px;
    color: white;
}

#ongletAccueil{
    color: black;
}

#ongletQuiSommesNous{
    color: black;
}

#ongletNosServices{
    color: black;
}

#ongletTelemarketing{
    color: black;
}

#boutonHeader{
    box-sizing: border-box;
    width: 179px;
    height: 70px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 35px;
    padding-top: 10px;
    margin-right: 15px;
}

#boutonHeader:hover{
    background-color: #e0e0e0;
}

#boutonHeader a{
    color: black;
}

#containerTexteQuiSommesNous{
    width: 76%;
    margin: 100px auto;
    text-align: center;
}

#socallmediaChiffre{
    width: 55%;
    height: 600px;
    background-image: url("/img/socallmediaChiffre.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

#illustrationSofan{
    width: 100%;
    height: 560px;
    background-image: url("/img/illustrationSofanMedia.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#titreSofanmedia{
    width: 420px;
    height: 100px;
    margin: 50px auto;
    background-image: url("/img/titreSofanmedia.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#containerTexteSofanmedia{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#boutonSofanmedia{
    box-sizing: border-box;
    width: 200px;
    height: 80px;
    background: linear-gradient(90deg, rgba(212,51,126,1) 0%, rgba(247,105,60,1) 100%);
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: white;
    margin: 50px auto;
    padding-top: 17px;
}

#boutonSofanmedia a{
    color: white;
}

#boutonSofanmedia:hover{
    background: linear-gradient(90deg, rgb(227, 42, 129) 0%, rgb(248, 122, 81) 100%);

}




.footer{
    width: 100%;
    height: 300px;
    margin-top: 100px;
    background-image: url("/img/footerBackground.svg");
    display: flex;
    justify-content: space-between;
}

#logoFooter{
    width: 370px;
    height: 80px;
    margin-top: 120px;
    margin-left: 50px;
}
#containerReseau{
    width: 150px;
    margin-top: 70px;
    color: #FFFFFF;
}

#containerTelLocalisation{
    margin-top: 120px;
    width: 400px;
}

#telephoneFooter{
    color: #FFFFFF;
    font-size: 18px;
}

#localisationFooter{
    margin-top: 30px;
    color: #FFFFFF;
    font-size: 18px;
}

#linkedinFooter{
    margin-left: 30px;
}

#mentionLegal{
    width: 100%;
    text-align: center;
    background: rgb(44,172,193);
    background: linear-gradient(90deg, rgba(44,172,193,1) 0%, rgba(14,150,233,1) 100%);
}

@media (max-width: 1100px) {
    #ongletHeader {
        display: none;
    }
}

@media (max-width: 1280px) {
    #imageHeader{
        width: 100%;
        height: 700px;
        background-image: url("/img/backgroundQuiSommesNousMobile.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    #socallmediaChiffre{
        width: 100%;
        height: 400px;
        background-image: url("/img/socallmediaChiffre.png");
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 auto;
    }

    #illustrationSofan{
        width: 100%;
        height: 650px;
        background-image: url("/img/backgroundQuiSommesNousSofanMobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 956px) {
    .footer{
        width: 100%;
        height: 530px;
        margin-top: 100px;
        background-image: url("/img/footerBackground.svg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #logoFooter{
        width: 50%;
        margin: 0 auto;
        margin-top: 80px;
    }

    #containerReseau{
        width: 150px;
        margin: 0 auto;
        color: #FFFFFF;
    }

    #containerTelLocalisation{
        margin: 20px auto;
        width: 400px;
        text-align: center;
    }

    #telephoneFooter{
        color: #FFFFFF;
        font-size: 18px;
    }

    #localisationFooter{
        margin-top: 30px;
        color: #FFFFFF;
        font-size: 18px;
    }

    #linkedinFooter{
        margin-left: 30px;
    }

    #mentionLegal{
        width: 100%;
        text-align: center;
        background: rgb(44,172,193);
        background: linear-gradient(90deg, rgba(44,172,193,1) 0%, rgba(14,150,233,1) 100%);
    }

    .header{
        background-image: url("/img/headerBackground.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 140px;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 648px) {
    #logoFooter{
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
    }

    #boutonHeader{
        display: none;
    }
}

@media (max-width: 580px) {
    #logoHeader {
        width: 80%;
        margin: 20px auto;
    }
}

@media (max-width: 470px) {
    #logoHeader {
        width: 80%;
        margin: 30px auto;
    }
}

@media (max-width: 378px) {

    #logoHeader {
        width: 70%;
        height: 50px;
        margin: 20px auto;
    }

    .header{
        background-image: url("/img/headerBackground.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: space-between;
    }
}

/*scrollbar*/

* {
    scrollbar-width: thin;
    scrollbar-color: #0f96e6 #fdfdfe;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #0f96e7;
    border-radius: 20px;
    border: 3px solid #ffffff;
}

/*-----------------------------------*/